```
ID: {{id}}
Name: {{name}}
Versions:
{{#versions}}
  {{version}}
{{/versions}}
{{^enabled_version}}
Enabled Version: (disabled)
{{/enabled_version}}
{{#enabled_version}}
Enabled Version: {{enabled_version.version}}
{{/enabled_version}}
Relay Groups:
{{#relay_groups}}
  {{name}}
{{/relay_groups}}
```
