```
Username: {{username}}
First Name: {{first_name}}
Last Name: {{last_name}}
Email Address: {{email_address}}
Groups:
{{#groups}}
  {{name}}
{{/groups}}
Chat Handles:
{{#chat_handles}}
  {{chat_provider.name}}: {{handle}}
{{/chat_handles}}
```
