{{#error}}
  An error occurred!
  {{error}}
{{/error}}

{{^error}}
  The bundle `{{bundle}}` is currently `{{status}}`.
  The following Relays are running the bundle:
    {{#relays}}
    * `{{.}}`
    {{/relays}}
    {{^relays}}None!{{/relays}}
{{/error}}
