{{#command}}
  Documentation for `{{command}}`

  {{{documentation}}}
{{/command}}

{{^command}}
  I know about these commands:

  {{#commands}}
  * {{.}}
  {{/commands}}

  Try calling `operable:help COMMAND` to find out more.
{{/command}}
