{{#.}}
```
ID: {{id}}
Name: {{name}}
Created at: {{created_at}}{{#relays}}
Relays: {{/relays}}{{#relays}}{{name}} {{/relays}}{{#bundles}}
Bundles: {{/bundles}}{{#bundles}}{{name}} {{/bundles}}
```
{{/.}}
